<%= form_with url: "/posts/#{@post.id}/comments", scope: :comment do |form| %>
<div class="comment-container">
	<%= form.text_area :text, placeholder: "Type something here...", rows: 14, required: true %>
	<%= form.submit "Comment", class: "submit-btn comment-btn" %>
  </div>
<% end %>