.user_data_post {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 5px solid blue;
  width: 100%;
  height: 240px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 38px;
  padding-right: 38px;
  border-radius: 8px;
}

.user_data_post > p {
  align-self: flex-end;
}

.comments {
  display: flex;
  flex-direction: column;
  border: 5px solid blue;
  width: 85%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 38px;
  padding-right: 38px;
  border-radius: 8px;
  margin: 0 auto;
}

.comment-container {
  width: 100%;
}

.comment-container > textarea {
  width: 80%;
  height: 85px;
}

.delete-button-class {
  padding: 10px;
  color: blue;
  width: 100%;
  text-decoration: none;
}
