body {
  margin: 0;
  padding: 0;
}

.user_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 5%;
}

.user_container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user_data {
  display: flex;
  width: 72%;
  height: 85px;
  justify-content: space-between;
  align-items: center;
  padding: 3% 4%;
  border: 5px solid blue;
  border-radius: 8px;
}

.user_data h2 {
  font-size: 25px;
}

.user_data > p {
  margin: 0;
  font-size: 25px;
  align-self: flex-end;
}
